
#demo {
    visibility: hidden;
 }


 h1 {
     border-bottom: 4px solid #cd006f;
color: #72003d;
font: bold 26px monospace ;
     
}

h2 {color: #cd006f;
font: 16px monospace;
}


               
               